.fight-page {
    color: white;
    display: flex;
    justify-content: space-between;
}

.fight-page__control-section {
    max-width: 100%;
}

.selection-list {
    margin: 0;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

.selection-list__item {
    padding: 5px;
    border: 1px solid white;
    cursor: pointer;
}