.App{
  width: 100%;
  overflow-x: hidden;
  padding: 120px 0;
}

.rahil{
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rahil__title{
  color: red;
  font-size: 100px;
  text-transform: uppercase;
  font-weight: 700;
}
