*{
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #282a36;
    overflow-x: hidden;
    font-size: 16px;
    font-family: 'Roboto','Open Sans',sans-serif;
}

a,
button{
    text-decoration: none;
    color: black;
    transition: 0.4s ease;
    cursor: pointer;
}

a:hover,
button:hover{
    text-decoration: none;
    color: #50fa7b;
}

a:focus,
button:focus{
    outline: none;
}

.box{
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;
    margin: 0 auto;
}

.title{
    font-size: 40px;
    color: #ffb86c;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #8be9fd;
    background: #44475a;
    transition: 0.3s ease;
    min-height: 30px;
    font-size: 20px;
    border-radius: 5px;
}

.btn.active{
    border: 2px solid #6272a4;
    background: #6272a4;
}