.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    background: #44475a;
    border-bottom: 1px solid #f8f8f2;
    z-index: 100;
}

.header__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__box:before{
    content: '';
    display: block;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav__link{
    font-size: 18px;
}

.nav__link + .nav__link{
    margin-left: 20px;
}