.roller{
    position: fixed;
    top: 100px;
    left: 100%;
    z-index: 100;
    transform: translateX(0);
    transition: 0.4s ease;
    border: 2px solid #f8f8f2;
    border-right: none;
    padding: 10px;
    background: #44475a;
    border-radius: 5px 0 0 5px;
    width: 120px;
}
.roller.active{
    transform: translateX(-100%);
}
.roller__trigger{
    position: absolute;
    top: 10px;
    right: 100%;
    height: 50px;
    width: 25px;
    border-radius: 10px 0 0 10px;
    background: #44475a;
    border: 2px solid #f8f8f2;
    border-right: 2px solid #44475a;
    margin-right: -1px;
    font-size: 20px;
}
.roller__display{
    font-size: 40px;
    min-height: 60px;
    border: 2px solid #f8f8f2;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #50fa7b;
}
.roller__diceBox{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.roller__dice{
    width: 45px;
    height: 45px;
    background: url(../img/dice.png) center no-repeat;
    background-size: contain;
    border: none;
    padding: 0;
}
.roller__diceBox > * + * + * {
    margin-top: 10px;
}
.roller__btn{
    width: 100%;
}
.roller__history{
    padding-top: 10px;
}
.roller__historyLog{
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 5px 0;
    border-bottom: 1px solid #f8f8f2;
    color: #ffb86c;
}
.roller__historyLog:first-child{
    padding-top: 0;
}
.roller__historyLog:last-child{
    border-bottom: none;
    padding-bottom: 0;
}
.roller__historyLogIndex{
    min-width: 18px;
    margin-right: 5px;
}